.advantages {
    padding: 70px 0 82px 0;
    background-color: #F6F6F6;
    &__title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 273px;
    }
    &__subtitle {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        a {
            color: rgb(253, 67, 67);
            text-decoration: underline;
        }
    }
}